[build]
  command = "nx build candidates --configuration=production && nx build api --configuration=production"
  publish = "dist/apps/candidates/browser"
  functions = "dist/apps/api"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/products"
  to = "/products/index.html"
  status = 200

[[redirects]]
  from = "/"
  to = "/products/index.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/:splat/index.html"
  status = 200
  conditions = { Path = ["/*"] }