[build]
  command = "nx build candidates --configuration=production && nx build api --configuration=production"
  publish = "dist/apps/candidates/browser"
  functions = "dist/apps/api"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = true
  